# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/

# Virtual Machines
.vagrant/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
.dropbox*
